<a href="https://colab.research.google.com/github/poojasinghal9927/AppliedAI_Python/blob/main/day1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# keywords in python

In [ ]:
import keyword

print(keyword.kwlist)
print("total number of keywords:",len(keyword.kwlist))

# identifiers 
Name given to entittes like class,functions,variables
we can not use special symbols like !,@,#,$,% etc

In [ ]:
abc=12;
glaobal=3;

In [ ]:
a@ = 13;

# comments
by use of # for single line, 
multiline by """ triple quotes or '''

In [ ]:
#hi
"""hello
how r u"""

# Python Indentation( 4spaces or 1 tab)(loops/function/if-else)

In [ ]:
for i in range(10):
    print(i)    #indentation of for loop
# print(i) not properly indetation
print(100)      #not indentation of for loop

#Python Statement
<pre>
1.single line
2.multiline: continue by \
</pre>

In [ ]:
a=1
print(a)   #single-line statement

b= 1 + 2 + \
   3  
print(b)     #multiline statement

c=(1+2+3+     #paranthesis statement
   4+5)
print(c)

d=10; e=13; f=20   #multiple statements in single line using ;
print(d)
print(e)
print(f)

# Variable

In [48]:
#assignment of values
a=1
b=5.5
c="ml"

d=e=f="pooja"

g, h, i = 1,8.8,"om"

#print address of variable: by use of id(varname)

In [49]:
x=4
print(id(x))

94685675645536

In [52]:
y=4
print(id(y))

94685675645536

<pre>observation
x and y print to same location
</pre>

In [53]:
y=2
print(id(y))

94685675645472

#<h1>Datatypes</h1>
<pre>Datatypes are actually classes 
variables are instance(objects) of these classes

1.Numbers: integers,floating point and complex numbers--int,float,complex
    functions used:
    type(variable) :check type of data
    isinstance(variable,type) : check class of object

2.Boolean:represesnt truth values False and True

3.string:sequence of unicode characters
         single quotes or double quotes to represent strings
         multiline strings represent by triple quotes, ''' or """
         first character of string has index 0 like c
         last char=s[len(s)-1] or s[-1]

4.list: ordered sequence of items of hetrogenous type.
        items separated by commas are enclosed within brackets[]
        list are mutable means value of elements of list can be altered
 
5.tuple: ordered sequence of items of hetrogenous type same as list
         tuples are immutable
         items enclosed within parenthesis() separated by comma
    
6.set: unordered collection of unique items.
        items enclosed within { } 
        we cam perform set operations like union,intersection
        it is not index bcz of unordered collection of items

7.dictionary: unordered collection of key-value pairs.
            defined within braces{ } with each item being pair in form of
            key:value(key and value can be any type)
</pre>

In [ ]:
#number datatype
a=5
print(a, type(a))

b=2.5
print(b,type(b))

c=1+2j
print(c,type(c))
 
print(isinstance(1+2j,complex))

#boolean datatype
d=True
print(type(d))

In [ ]:
#string data type
s="this is ml course"
t='''this is ml couse'''
print(s)
print(t)
print(type(s))

In [ ]:
print(s[0])
print(s[-1])
print(s[len(s)-1])

In [ ]:
#slicing
s[5:]  #print from 5th value to upto end
s[5:10] #print from 5th to 10th char

In [ ]:
a=[10,2.5,"hello"]  
print(a[1])     #print 1st index
a[1]="hi"       #alter value
print(a[1])

In [82]:
tuple=(1, 1.1, "ml")
print(tuple[2])
#t[1]=3 immutable

ml

In [1]:
set_1={1,2,3,4,"hi"}
print(set_1)

set_2={1,2,2,2,2}
print(set_2)

#set2[1]   cant access indexwise

{1, 2, 3, 'hi', 4}
{1, 2}

In [ ]:
dict={'a':"apple", "b":"bat"}
print(dict["a"])

#conversion between datatypes
<pr>
int(value)
float(value)
str(value)
</pr>

In [93]:
float(5)   #convert to float
int(100.5)   #convert to int
str(20)     #convert to string
set()
list()

'20'

<pr>conversion to and from string must contain compatible value

In [94]:
int('10')

10

In [96]:
#int("10p") not compatible

In [99]:
user="satish"
lines =100
print("congrats," +user+ "you wrotes" +str(lines) + "codes")

congrats,satishyou wrotes100codes

In [2]:
#convert list to set
a = [1,2,3]
print(type(a))

s = set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [4]:
#convert string to list
list("hello")

['h', 'e', 'l', 'l', 'o']

#python output
print() used

In [ ]:
print('hello world')

In [ ]:
#multiple statments in single line

a=10;b=20
print("value of a is {} and b is {}".format(a,b))  #default

print("value of a is {1} and b is {0}".format(a,b)) #specifying positions in {}

print("{name},{greeting}".format(name="satish",greeting="good morning")) #specify message in {}

print('story of {0},{1}, and {other}'.format('satish','sudha',other=12))  #mixing above 2 formats of output

# Input
take input from user we use function input()

In [11]:
num=input("enter number")
print(num)

enter number12
12

#operators
<pre>
1.airthemetic
2.logical
3.compariosn
4.assigenment
5.identify operator:
    is : check two values locate on same location
    is not
6.membership operator:
    in:check whether a value is found in sequence(string,list,    set   and dictionary)
    in not
</pre>

In [ ]:
#airthmetic operators
x,y=10,2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)  #modulo division
print(x//y) #floor division
print(x**y) #exponent
print(divmod(x,y))

In [ ]:
#comparison operators
a,b=10,20

print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

In [ ]:
#logical operators
a,b=True,False
print(a and b)
print(a or b)
print(not b)

In [ ]:
#bitwise operator
a,b=10,4
print(a & b)
print(a | b)

print(- b)
print(a ^ b)

print(a << b)
print(a >> b)

In [ ]:
#Assigenment operators: +=,=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<=
a=10
a+=10
print(a)

In [ ]:
#identify operator:
a=5
b=5
print(a is b)

list1=[1,2,3]
list2=[1,2,3]
print(list1 is list2)

st="aaic"
st2="aaic"
print(st is st2)

In [31]:
#membership operator
lst=[1,2,3,4]
print(2 in lst)

d={1:"a", 2:"b"}
print(2 in lst)

True
True

#if...elif...else
<pre>
python interprets non-zero values as True 
None ,0,false as False</pre>

In [ ]:
#if statement
num=10
if None:
    print("""number is positive""")
print("""print always""")

In [ ]:
#if else statement
num = 10
if num > 0:
    print("positive number")
else:
    print("negative number ")

In [ ]:
#if..elif..else statement
num = 0

if num > 0:
    print("positive no.")
elif num == 0:
    print("zero")
else:
    print("negatuve no.")

In [ ]:
#nested if else
num = 10.5

if num >= 0:
    if num==0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

In [38]:
#program to find largest number among three numbers
num1 = 10
num2 = 20
num3 = 30

if(num1>=num2) and (num1>=num3):
    largest=num1
elif(num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
print("largest element among three numbers is:{}".format(largest))

largest element among three numbers is:30

#while loop
<pre>
while test_expression:
       body of while

In [45]:
#Find product of all numbers present in a list

list1=[10,20,30,40,50]
product =1
index=0

while index< len(list1):
      product*=list1[index]
      index+=1

else:
    print("product is:{}".format(product))

product is:12000000

#check number prime or not

In [47]:
num= int(input("enter a number:"))

isdivisible = False;
i=2;
while i<num:
    if num%i==0:
        isdivisible=True;
        print("{} is divisible by {}".format(num,i))
    i+=1;

if isdivisible:
    print("{} is not prime number".format(num))
else:
    print("{} is prime number".format(num))

enter a number:22
22 is divisible by 2
22 is divisible by 11
22 is not prime number

#for loop

<pre>for elememt in sequence:
    body of for_loop
element is the variable that takes value of item inside sequence on each iteration

</pre>

In [50]:
#find product of allnumbers in list
list2=[10,20,30,40,50]

product=1

for element in list2:
     print(type(element))
     product*=element
print("product is:{}".format(product))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
product is:12000000

In [ ]:
# New sample code here